[submodule "DatEngine/FirstParty/Dat-Archive"]
	path = DatEngine/FirstParty/Dat-Archive
	url = https://github.com/jtljac/Dat-Archive
[submodule "DatEngine/FirstParty/Dat-VFS"]
	path = DatEngine/FirstParty/Dat-VFS
	url = https://github.com/jtljac/Dat-VFS